<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统</title>
    <link rel="stylesheet" href="../static/css/layui.css">
    <link rel="stylesheet" href="../static/css/glow.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body style=" background: url(../static/img/bg7.png); background-size: cover;"></body>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo layui-hide-xs layui-bg-black">虚拟银行管理系统</div>
    <!-- 头部区域（可配合layui 已有的水平导航） -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
        <a href="javascript:;" class="tester-link">
          tester
        </a>
        <dl class="layui-nav-child">
          <dd><a href="/sign_out">退出登录</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
        <a href="javascript:;">
          <i class="layui-icon layui-icon-more-vertical"></i>
        </a>
      </li>
    </ul>
  </div>
   <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item"><a href="./user_index">首页</a></li>
        <li class="layui-nav-item"><a href="./user_manage">个人账号管理</a></li>
        <li class="layui-nav-item"><a href="./pay">支付密码管理</a></li>
        <li class="layui-nav-item"><a href="./user_deal">交易记录查询</a></li>
        <li class="layui-nav-item"><a href="./user_account">账户金额查询</a></li>
        <li class="layui-nav-item"><a href="./transfer">快速转账</a></li>
        <li class="layui-nav-item"><a href="./feedback_user">联系我们</a></li>
      </ul>
    </div>
 </div>

<div class="layui-container" style="width: 1070px; height: 200px; margin-top: 0px;">
  <form class="layui-form layui-row layui-col-space16" style="margin: 0px 0px 0px">
    <div style="float: right; margin-right: 400px; margin-top: 0px;">
      <h1 class="glowIn">账户余额查询</h1>
    </div>
  </form>
  <p class="glowIn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;尊敬的用户，欢迎来到账户余额查询页！您的账户和余额将会显示在下方。祝您财源广进！感谢您的理解与支持！
  </p>
  <script>
     let textBoxs = document.querySelectorAll(".glowIn"); 
    textBoxs.forEach(item =>{
    let txts = item.textContent.split("");
    item.textContent = "";
    txts.forEach((txt, i)=>{
        let span = document.createElement("span");
        span.textContent = txt;
    span.style.animationDelay = `${i * 0.05}s`;
        item.append(span)
    })
})
  </script>
</div>

<script src="../static/js/layui.js"></script>

<div style="margin-bottom: 200px;">
    <h1 style="margin-left: 130px; margin-bottom: 10px;">用户名：{{loggedInUsername}}</p>
    <h1 style="margin-left: 130px; margin-bottom: 10px;">余额：{{money}}</p>
</div>


<script>
var loggedInUsername = "{{loggedInUsername}}";  // 请将此替换为实际的后端用户名变量
var testerLink = document.querySelector(".tester-link");
if (testerLink && loggedInUsername) {
    testerLink.textContent = loggedInUsername;
}
</script>


</body>
</html>