<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统</title>
    <link rel="stylesheet" href="../static/css/layui.css">
</head>
<body style=" background: url(../static/img/bg7.png); background-size: cover;"></body>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo layui-hide-xs layui-bg-black">虚拟银行管理系统</div>
    <!-- 头部区域（可配合layui 已有的水平导航） -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
        <a href="javascript:;" class="tester-link">
          tester
        </a>
        <dl class="layui-nav-child">
            <dd><a href="/sign_out">退出登录</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
        <a href="javascript:;">
          <i class="layui-icon layui-icon-more-vertical"></i>
        </a>
      </li>
    </ul>
  </div>
   <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item"><a href="./admin_index">首页</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">账号管理</a>
            <dl class="layui-nav-child">
              <dd><a href="./users_manage">用户账号管理</a></dd>
              <dd><a href="./admin_manage">管理员账号管理</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="./admin_deal">交易记录管理</a></li>
        <li class="layui-nav-item"><a href="./account">账户金额查询</a></li>
        <li class="layui-nav-item"><a href="./feedback">联系我们</a></li>
      </ul>
    </div>
</div>
<!--搜索-->
<div class="layui-container" style="width: 1070px;">
    <form class="layui-form layui-row layui-col-space16" style="margin: 60px 10px 0px">
      <div style="float: right; margin-right: 400px;">
        <h1>用户账号管理</h1>
      </div>
      <div class="layui-col-md4"  style="width: 200px;">
        <div class="layui-input-wrap" style="width: 200px;">
            <div class="layui-input-prefix">
                <i class="layui-icon layui-icon-username"></i>
            </div>
            <input type="text" name="id" value="" placeholder="请输入id" class="layui-input" lay-affix="clear" style="width: 200px;">
        </div>
    </div>
    <div class="layui-col-md4" style="float: left; margin-left: 20px; width: 200px;">
        <div class="layui-input-wrap" >
            <input type="text" name="username" placeholder="请输入用户名" lay-affix="clear" class="layui-input" >
        </div>
    </div>
        <div class="layui-btn-container layui-col-xs12">
            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="table-search">查询</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>
    </form>
</div>

<div class="layui-container"  style="width: 505px; margin-right: 780px;">
    <table class="layui-hide" id="info"></table>
</div>
<script src="../static/js/layui.js"></script>

<!-- 工具栏模板 -->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="delete_many">删除</button>
    </div>
</script>
<!-- 编辑表单 -->
<form class="layui-form" action="" id="form_edit" lay-filter="form_edit" style="margin-top: 20px;display: none">
    <div class="layui-form-item">
        <label class="layui-form-label">id</label>
        <div class="layui-input-block">
            <input type="text" name="id" lay-verify="required" autocomplete="off" placeholder="请输入"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input type="text" name="username" lay-verify="required" autocomplete="off" placeholder="请输入"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="text" name="password" lay-verify="required" autocomplete="off" placeholder="请输入"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit lay-filter="edit-commit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<!-- 表头某列 templet 属性指向的模板 -->
<script type="text/html" id="tools">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    // 修改的方法
    const change_info = async (id, data) => {
    const options = {
        method: 'PUT',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(data)
    }
    const response = await fetch(`/users_manage/${id}`, options)
    return await response.json()
    }

    layui.use(function () {
        var table = layui.table;
        var $ = layui.$;
        var form = layui.form;
        var layuidata = layui.layuidata;
        // 已知数据渲染
        var inst = table.render({
            elem: '#info',
            id: 'info',
            toolbar: '#toolbar',
            url: '/info_for_users',
            cols: [
                [   // 标题栏
                    {field: 'id', title: 'id', width: 140, sort: true},
                    {field: 'username', title: '用户名', width: 120},
                    {field: 'password', title: '密码', width: 120},
                    {title: '操作', width: 120, templet: '#tools'}
                ]],
            page: true,
            escape: true,
            limits: []
        });
        // 头部工具栏事件
        table.on('toolbar(info)', function (obj) {
            var options = obj.config; // 获取当前表格属性配置项
            var checkStatus = table.checkStatus(options.id); // 获取选中行相关数据

            // 根据不同的事件名进行相应的操作
            switch (obj.event) { // 对应模板元素中的 lay-event 属性值
                case 'add':
                    window.show_add()
                    break;
                case 'delete_many':
                    window.delete_many(obj)
                    break;
            }
        });

        window.show_add = function () {
            layer.open({
                type: 2,
                title: '新增记录',
                shadeClose: true,
                maxmin: true, //开启最大化最小化按钮
                area: ['900px', '400px'],
                content: '/users_add'
            });
        }


        window.delete_many = function (obj) {
            layer.msg('批量删除');
        }

        table.on('tool(info)', function (obj) {
        var layEvent = obj.event; // 获得元素对应的 lay-event 属性值
        if (layEvent === 'edit') { //编辑
            window.show_edit(obj)
        } else if (layEvent === 'del') { //删除
            layer.confirm('确定删除吗？', function (index) {
                layer.close(index);
                window.del_info(obj)
            });
        }
    });

        window.show_edit = (obj) => {
            console.log(obj.data)
            form.val('form_edit', obj.data);
            layer.open({
                type: 1,
                area: ['600px', '360px'],
                content: $('#form_edit'), // 捕获的元素
            });
        }

        window.del_info = (obj) => {
            layer.msg('删除数据')
        }

        form.on('submit(edit-commit)', function (data) {
            var field = data.field; // 获取表单字段值
            console.log(field)
            // 此处可执行 Ajax 等操作
            field.disable = field?.disable ? true : false

            change_info(field.id, field).then(function (ret) {

                // 提交成功之后的回调
                if (!ret.code) {
                    layer.msg(ret.msg, {
                        icon: 1,
                        time: 1000,
                    }, function () {
                        layer.closeAll('page');
                        table.reload('info');
                    });
                } else {
                    layer.msg(ret.msg, {
                        icon: 2,
                        time: 1000,
                    });
                }
            })
            return false; // 阻止默认 form 跳转
        });

        // 新增删除的方法
        const del_info_api = async (id) => {
            const options = {
                method: 'DELETE',
                headers: {'Content-Type': 'application/json'},
            }
            const response = await fetch(`/users_manage/${id}`, options)
            return await response.json()
        }

        window.del_info = (obj) => {
            // console.log(obj)
            del_info_api(obj.data.id).then(function (ret) {
                // 提交成功之后的回调
                if (!ret.code) {
                    layer.msg(ret.msg, {
                        icon: 1,
                        time: 1000,
                    }, function () {
                        table.reload('info');
                    });
                } else {
                    layer.msg(ret.msg, {
                        icon: 2,
                        time: 1000,
                    });
                }
            })
        }

        // 搜索提交
        form.on('submit(table-search)', function (data) {
            var field = data.field; // 获得表单字段
            // 执行搜索重载
            table.reload('info', {
                page: {
                    curr: 1, // 重新从第 1 页开始
                },
                where: field, // 搜索的字段
            });
            return false; // 阻止默认 form 跳转
        });
    });
    var loggedInUsername = "{{loggedInUsername}}";  // 请将此替换为实际的后端用户名变量

var testerLink = document.querySelector(".tester-link");
if (testerLink && loggedInUsername) {
    testerLink.textContent = loggedInUsername;
}
</script>
</body>
</html>